<div class="well hoverwell thumbnail">
    <h2>{{event?.name}}</h2><!--if event is null dont try to bind-->
    <span *ngIf="event?.onlineUrl" class="label label-warning">Online Only</span>
    <div>Date: {{event.date}}</div>
    <div [ngSwitch]="event.time" [ngClass]="getStartTimeClass()">
        <!--can be inline and also [ngStyle] is the same {"style":"x===y? '':''",}-->
        Time {{event.time}}
        <span *ngSwitchCase="'8:00 am'">(Early Start)</span>
        <span *ngSwitchCase="'10:00 am'">(Late Start)</span>
        <span *ngSwitchDefault>(Normal Start)</span>
    </div>

    <div [class.red]="event.price<700">Price: \${{ event.price }}</div>
    <div *ngIf="event.location">
        <span>Location: {{event.location.address}}</span>

        <span class="pad-left">{{event.location.city}}, {{event.location.country}}</span>
    </div>
    <div [hidden]="!event.onlineUrl">
        Online URL: {{event.onlineUrl}}
    </div>
</div>